* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

body {
    background-color: #241a3c;
}

.container {
    padding-top: 50px;
    padding-left: 96px;
    padding-right: 96px;
    color: #e96bb4;
    color: #f8b458;
}